---
import fs from 'fs/promises';
import path from 'path';
import teachers from '../data/teachers.json';
import Menu from '../layouts/Menu.astro';
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../public/JS/CreateTeacher.js"></script>
</head>
<body>
  
   
  <form method="POST" id="Form">
    <div class="form-group">
      <label id="name">Nombre:</label>
      <input type="text" id="NameTeacher" name="name">
    </div>
  
    <div class="form-group">
      <label id="Materia">Materias:</label>
      <div class="subjects-container">
        <div class="subject-option">
          <label id=>Materias</label>
          <input type="checkbox" name="subject" value="Matematicas">Matematicas
          
        </div>
        <!-- Mantener otras materias existentes -->
      </div>
    </div>
  
    <button type="submit" id="BtnSave">Guardar</button>
  </form>

  <div class="Archivo-Guardado">Archivo Guardado</div>
  <div class="Archivo-No-Guardado">Archivo No Guardado</div>

  <style>
    .Archivo-Guardado, .Archivo-No-Guardado{
      display: none;
    }

    .Archivo-Guardado{
      color: green;
    }
    .Archivo-No-Guardado{
      color: red;
    }
  </style>
  <Menu>
</body>
</html>


