---
import Menu from "../layouts/Menu.astro";
import CreateTeacher from "CreateTeacher.astro";
import Background from "../layouts/Background.astro";
const { title } = Astro.props;

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<html lang="sp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="../public/CSS/index.css" />
    <link rel="shortcut icon" href="../../public/plus.svg" />
  </head>
  <body>

   <Background />
   <Menu />
    
  </body>
</html>

