<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/public/CSS/Background.css" />
  </head>
  <body>
    <div class="container-blue">
      <div class="circle-blue"></div>
    </div>

    <div class="container-yellow">
      <div class="circle-yellow"></div>
    </div>
    
    <div class="container-rose">
      <div class="circle-rose"></div>
    </div>
    
  </body>
</html>
