---
import Components from "./Components.astro";
const PlusIcon = "/public/plus.svg";
const PadLock_Lock = "/public/padlock-lock.svg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Horario-Scheduler</title>
  </head>
  <div class="contenedor-menu">
    <Components icon={PlusIcon} />
    <Components icon={PadLock_Lock} />
    <Components icon={PlusIcon} />
  </div>

  <style>
    .contenedor-menu {
      width: 4%;
      height: 450px;
      background-color: rgb(47, 96, 96);
      float: right;
      border-radius: 15px;
      margin: 2%;
      box-shadow: 1px 5px 6px 0px rgba(59, 59, 59, 0.75);
    }

    .contenedor-menu {
      /* Cambios para centrar y apilar elementos */
      display: flex; /* Activamos Flexbox */
      flex-direction: column; /* Apilamos los elementos hacia abajo */
      align-items: center; /* Centra los elementos horizontalmente */
      overflow: hidden; /* Corta cualquier contenido que se desborde */
      white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    }
  </style>


</html>
