---
import Components from "./Components.astro";
const PlusIcon = "/public/plus.svg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Horario-Scheduler</title>
  </head>
  <div class="contenedor-menu">
    <Components icon={PlusIcon}>Home</Components>
  </div>

  <style>
    .contenedor-menu {
      width: 4%;
      height: 450px;
      background-color: rgb(47, 96, 96);
      float: right;
      border-radius: 15px;
      margin: 2%;
      box-shadow: 1px 5px 6px 0px rgba(59, 59, 59, 0.75);
      display: flex;
    }
  </style>


</html>
