---
import Components from "./Components.astro";
const PlusIcon = "/public/plus.svg";
const PadLock_Lock = "/public/padlock-lock.svg";
const { icon, class: className } = Astro.props;
---

<html lang="sp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/public/CSS/Menu.css" />
    <script src="/public/JS/Menu.js" type="module"></script>

  </head>
  <body>

    <!-- Contenedor para el menú desplegable -->
    <div class="wrapper">
      <div class="menu-plus-wrapper">
        <div class="contenedor-plus-menu">
          <div class="plus-item">
            <div class="icon">Grupo</div>
            <hr />
            <div class="icon">Maestro</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Menu de opciones -->
    <div class="contenedor-menu">
      <Components class="Plus" icon={PlusIcon} />
      <Components icon={PadLock_Lock} />
      <Components icon={PlusIcon} />
    </div>
    
  </body>
</html>
